header.section .inner {
  padding: 0 20px;

  height: auto;
  flex-direction: column;
}

header .menu-group {
  flex-direction: column;
}
header .sign-group {
  display: block;
  padding: 10px 0 20px;
}
header .main-menu {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

header .main-menu li {
  width: 100%;
  border-top: 1px solid #e5e5e5;
}

header .main-menu li a {
  padding: 16px 0;
}
.btn-group {
  display: block;
}

.btn-group .btn {
  justify-content: center;
}

.btn-group .sign-in {
  margin-right: 0;
  margin-bottom: 12px;
}

#serach-form {
  margin-top: 12px;
  margin-right: 0;
  display: block;
}

#search {
  width: 100%;
  height: 42px;
  text-align: center;
}

header .sub-menu {
  margin-top: 12px;
  margin-right: 0;
  justify-content: center;
}
header .logo {
  width: 100%;
  padding: 12px 0;
}
header .toggle {
  display: none;
}

header .toggle.on {
  display: block;
}

#toggle-btn {
  display: block;
}

/* Visual */
.section--visual {
  background-image: url(img/bg-small.jpg);
}

.section--visual .inner {
  display: block;
  max-width: none;
  padding: 80px 20px;
}

.section--visual .summary {
  text-align: center;
  margin-right: 0;
  margin-bottom: 50px;
}

#sign-form {
  width: auto;
  max-width: 500px;
  margin: auto;
}

/* Feature */
.section--feature .summary {
  padding: 66px 20px 0 20px;
}
.section--feature .tiles ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.section--feature .tiles li:nth-child(2) {
  border-right: none;
}

.section--feature .tiles li img {
  padding: 14px 30% 24px;
}

/* Where is */
.section--where-is .inner {
  max-width: none;
  padding: 80px 20px 0 20px;
}

/* Pricing card */
.section--pricing .inner {
  max-width: none;
}

.section--pricing .card .cell2 {
  font-size: 20px;
}

/* Footer */
footer .inner {
  padding: 50px 20px;
}

footer .logo {
  display: none;
}
